.department-page .our-department {
    padding-top: 50px;
    padding-bottom: 50px;
    .tab-content {
        .tab-image {
            overflow: hidden;
            img {
                margin-top: 50px;
            }
        }

    }
}
