.about-page .parents-feedback {
    background: none;
    .layer {
        padding: 50px 0px;
        .top-text {
            margin-bottom: 20px;
        }
        .about-feedback-carousel.owl-theme {
            .owl-dots {
                margin-top: 15px;
            }
        }
    }
}

.about-page {
    .our-specialist {
        padding-top: 50px;
        padding-bottom: 50px;
        .top-text {
            margin-bottom: 20px;
        }
    }

}
