.about-page {
    .parents-feedback {
        background-size: 100% 100%;
        .layer {
            padding-bottom: 50px;
            .top-text {
                margin-bottom: 20px;
            }
        }
    }

}

.about-page {
    .our-specialist {
        padding-top: 50px;
        padding-bottom: 50px;
        .top-text {
            margin-bottom: 20px;
        }
    }

}
