.about-page {
    .parents-feedback {
        .layer {
            padding: 40px 0px;
            .top-text {
                margin-bottom: 17px;
            }
        }
    }
    .our-specialist {
        padding-top: 100px;
    }
}
