 .department-page .department-accordian {
     .appoinment-form {
         h3 {
             margin-left: 0px;
         }
         padding-left: 15px;
     }
 }

 .department-page .our-department {
     padding: 55px 0px;
     .tab-content {
         .tab-image {
             overflow: hidden;
             img {
                 margin-top: 80px;
             }
         }

     }
 }
.department-page .department-accordian{
    padding-bottom: 30px;
}
