/* -------------------------------------
3 Global Sections - Conatct Page Form 
---------------------------------------- */

/* --------------------
3.20 Section - Conatct Page Form 
----------------------- */

.contact-page-form {
    padding-bottom: 54px;
    .appoinment-form {
        bottom: 52px;
        display: inline-block;
        padding: 0px;
        position: relative;
        margin-top: 0px;
        .contact-form-fields {
            padding: 57px 40px;
            padding-bottom: 27px;
            padding-right: 20px;
            display: inline-block;
            .form-group {
                .form-control {
                    &.message-area {
                        max-width: 676px;
                        min-height: 140px;
                    }
                }
                &.textarea-formgroup {
                    min-height: 162px;
                }
            }

        }
        .address-details {
            padding: 57px 20px;
            padding-right: 60px;
            ul {
                li {
                    padding-bottom: 50px;
                    span {
                        font-size: 16px;
                        color: #606060;
                        font-family: 'Source Sans Pro', sans-serif;
                        font-weight: 300;
                        a {
                            color: #505050;
                            &:hover {
                                color: $primary_color;
                            }
                        }
                    }
                    i {
                        font-size: 25px;
                        color: #505050;
                        margin-right: 20px;
                        vertical-align: middle;
                        float: left;
                    }
                }
            }
        }
    }
}
