/* -------------------------------------
3 Global Sections - Recent Post
---------------------------------------- */

/* --------------------
3.8 Section - Recent Post
----------------------- */

.recent-post {
    padding: 105px 0px 81px;
    background: #f4f4f4;
    .recent-post-carousel.owl-theme {
        .item {
            position: relative;
            bottom: 10px;
            .post-area {
                background: #fff;
                box-shadow: 4px 5px 2px -5px rgba(0, 0, 0, 0.2);
                .image-holder {
                    overflow: hidden;
                    float: left;
                    img {
                        width: auto;
                        -webkit-transform: scaleY(1);
                        -moz-transform: scaleY(1);
                        -o-transform: scaleY(1);
                        -ms-transform: scaleY(1);
                        transform: scaleY(1);
                        -webkit-transition: all 0.5s ease-in-out;
                        -moz-transition: all 0.5s ease-in-out;
                        -ms-transition: all 0.5s ease-in-out;
                        -o-transition: all 0.5s ease-in-out;
                        transition: all 0.5s ease-in-out;
                    }
                }

                .post-details {
                    padding: 19px 20px 19px 20px;
                    display: table-cell;
                    .post-head {
                        a {
                            color: #505050;
                            font-size: 16px;
                        }
                        &:hover a {
                            color: $primary_color;
                        }
                    }
                    span {
                        display: inline-block;
                        margin-bottom: 20px;
                        color: #5f5f5f;
                        font-family: 'Poppins', sans-serif;
                        .comments {
                            margin-left: 20px;
                        }
                    }
                    p {
                        margin-bottom: 30px;
                    }
                    .read-more {
                        font-family: 'Poppins', sans-serif;
                        color: #606060;
                        font-size: 14px;
                        font-weight: 500;
                        i {
                            font-size: 20px;
                            color: #606060;
                            vertical-align: middle;
                        }
                        &:hover h4 {
                            color: $primary_color;
                        }
                    }
                }
                &:hover {
                    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
                    -webkit-transition: all 0.5s ease-in-out;
                    -moz-transition: all 0.5s ease-in-out;
                    -ms-transition: all 0.5s ease-in-out;
                    -o-transition: all 0.5s ease-in-out;
                    transition: all 0.5s ease-in-out;
                    .image-holder {
                        img {
                            -webkit-transform: scale(1.2);
                            -moz-transform: scale(1.2);
                            -o-transform: scale(1.2);
                            -ms-transform: scale(1.2);
                            transform: scale(1.2);
                        }
                    }
                    & .read-more {
                        color: $primary_color;
                        & i {
                            color: $primary_color;
                        }
                    }
                }
            }
        }
        .owl-dots {
            display: block;
            margin-top: 45px;
            .owl-dot {
                span {
                    width: 30px;
                    height: 7px;
                    margin: 5px 2px;
                    background: $primary_color;
                }
                &.active {
                    span {
                        width: 14px;
                    }
                }
            }
        }

    }
    .normal-post {
        .item {
            margin-bottom: 30px;
            .post-area {
                box-shadow: 5px 5px 2px -5px rgba(0, 0, 0, 0.2);
                background: #fff;
                .image-holder {
                    overflow: hidden;
                    float: left;
                    img {
                        -webkit-transform: scaleY(1);
                        -moz-transform: scaleY(1);
                        -o-transform: scaleY(1);
                        -ms-transform: scaleY(1);
                        transform: scaleY(1);
                        -webkit-transition: all 0.5s ease-in-out;
                        -moz-transition: all 0.5s ease-in-out;
                        -ms-transition: all 0.5s ease-in-out;
                        -o-transition: all 0.5s ease-in-out;
                        transition: all 0.5s ease-in-out;
                    }
                }
                .post-details {
                    padding: 19px 20px 19px 20px;
                    display: table-cell;
                    .post-head {
                        a {
                            color: #505050;
                            font-size: 16px;
                        }
                        &:hover a {
                            color: $primary_color;
                        }
                    }
                    span {
                        display: inline-block;
                        margin-bottom: 20px;
                        color: #5f5f5f;
                        font-family: 'Poppins', sans-serif;
                        .comments {
                            margin-left: 20px;
                        }
                    }
                    p {
                        margin-bottom: 30px;
                    }
                    .read-more {
                        font-family: 'Poppins', sans-serif;
                        color: #606060;
                        font-size: 14px;
                        font-weight: 500;
                        i {
                            font-size: 20px;
                            color: #606060;
                            vertical-align: middle;
                        }
                    }
                }
                &:hover {
                    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.2);
                    -webkit-transition: all 0.5s ease-in-out;
                    -moz-transition: all 0.5s ease-in-out;
                    -ms-transition: all 0.5s ease-in-out;
                    -o-transition: all 0.5s ease-in-out;
                    transition: all 0.5s ease-in-out;
                    .image-holder {
                        img {
                            -webkit-transform: scale(1.2);
                            -moz-transform: scale(1.2);
                            -o-transform: scale(1.2);
                            -ms-transform: scale(1.2);
                            transform: scale(1.2);
                        }
                    }
                    & .read-more {
                        color: $primary_color;
                        & i {
                            color: $primary_color;
                        }
                    }
                }
            }
        }
        .owl-dots {
            display: none;
        }
    }
    .btn-default {
        display: none;
    }
}
