/* -------------------------------------
3 Global Sections - Header 
---------------------------------------- */

/* --------------------
3.1 Section - Header
----------------------- */

/* --------------------
3.1.1 Section - skew Menu
----------------------- */

.header {
    .top-container {
        background: #fff;
        .top-search {
            background-color: #606060;
            padding: 10px 0;
            .input-group {
                .input-group-addon {
                    background-color: #7d7d7d;
                    border: none;
                    color: #fff;
                    padding-left: 20px;
                    padding-right: 20px;
                }
                .form-control {
                    font-size: 14px;
                    font-family: 'Poppins', sans-serif;
                    background-color: #7d7d7d;
                    border: none;
                    -moz-box-shadow: 0px 0px 0px;
                    -webkit-box-shadow: 0px 0px 0px;
                    -o-box-shadow: 0px 0px 0px;
                    box-shadow: 0px 0px 0px;
                    color: #fff;
                    height: 40px;
                    padding: 0 15px;
                }
                .form-control::-webkit-input-placeholder {
                    /* Chrome/Opera/Safari */
                    color: #fff;
                }
                .form-control::-moz-placeholder {
                    /* Firefox 19+ */
                    color: #fff;
                }
                .form-control:-ms-input-placeholder {
                    /* IE 10+ */
                    color: #fff;
                }
                .form-control:-moz-placeholder {
                    /* Firefox 18- */
                    color: #fff;
                }
                .close-search {
                    cursor: pointer;
                }
            }
        }
        .top-menu {
            padding: 21px 0px;
            padding-bottom: 18px;
            p {
                color: #606060;
                font-size: 15px;
                font-family: 'Poppins', sans-serif;
                font-weight: 300;
                margin-top: 6px;
                span {
                    font-weight: 400;
                    color: #505050;
                    margin-right: 5px;
                }
            }
            .social-links {
                margin-top: 6px;
                a {
                    font-size: 15px;
                    color: #606060;
                    i {
                        margin-right: 14px;
                        &.icofont-social-pinterest {
                            margin-right: 0px;
                        }
                    }
                    &:hover {
                        color: $primary_color;
                    }
                }
            }
            .call-now {
                p {
                    a {
                        color: #606060;
                    }
                    &:hover a {
                        color: $primary_color;
                    }
                }

            }
            .email {
                p {
                    a {
                        color: #606060;
                    }
                    &:hover a {
                        color: $primary_color;
                    }
                }
            }
            .btn.btn-default {
                padding: 7px 30px;
            }
        }
        .navbar-primary {
            min-height: 70px;
            .sticky_navigation {
                width: 100%;
                background: #fff;
                z-index: 3;
                box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.2);
                .site-logo-part {
                    background: #fff;
                    .navbar-header {
                        padding: 17px 0px;
                        .logo-image {
                            a {
                                span {
                                    font-family: 'Poppins', sans-serif;
                                    font-weight: 700;
                                    font-size: 25px;
                                    color: $primary_color;
                                    letter-spacing: 2px;
                                }
                            }
                        }
                        .navbar-toggle {
                            border: 1px solid $primary_color;
                            background: tranparent;
                            margin-bottom: 0px;
                            .icon-bar {
                                background: $primary_color;
                            }
                        }
                    }
                }
                .menu-part {
                    background: $primary_color;
                    -moz-transform: skewX(-45deg);
                    -ms-transform: skewX(-45deg);
                    -webkit-transform: skewX(-45deg);
                    transform: skewX(-45deg);
                    .navbar-collapse {
                        .nav.navbar-nav {
                            -moz-transform: skewX(45deg);
                            -ms-transform: skewX(45deg);
                            -webkit-transform: skewX(45deg);
                            transform: skewX(45deg);
                            li {
                                margin-right: 5px;
                                a {
                                    padding: 25px 25px;
                                    background: transparent;
                                    color: #fff;
                                    font-family: 'Poppins', sans-serif;
                                    font-weight: 400;
                                    font-size: 15px;

                                }
                                &:hover a,
                                &.active a {
                                    border-bottom: 2px solid #fff;
                                    padding-bottom: 23px;
                                }
                                &.dropdown.open {
                                    > a {
                                        background: transparent;
                                        border-bottom: 0px;
                                    }
                                    .dropdown-menu {
                                        transition: all 500ms ease 0s;
                                        border: none;
                                        li {
                                            text-align: center;
                                            margin-right: 0px;
                                            a {
                                                padding: 10px 10px 10px 10px;
                                                color: #000;
                                                border-bottom: none;
                                            }
                                            &:hover,&.active {
                                                > a {
                                                    color: $primary_color;
                                                    border: none;
                                                }
                                            }
                                            &.dropdown {
                                                > a {
                                                    span {
                                                        display: none;
                                                    }
                                                    &::after {
                                                        border-color: transparent transparent transparent #333;
                                                        border-left-color: rgb(51, 51, 51);
                                                        border-left-color: #333333;
                                                        border-style: solid;
                                                        border-width: 5px 0 5px 5px;
                                                        content: " ";
                                                        display: block;
                                                        float: right;
                                                        height: 0;
                                                        margin-right: 8px;
                                                        margin-top: -16px;
                                                        width: 0;
                                                    }
                                                    &:hover {
                                                        &::after {
                                                            border-left-color: $primary_color;
                                                        }
                                                    }
                                                }
                                                &:hover {
                                                    .dropdown-menu {
                                                        display: block;
                                                        left: 163px;

                                                        top: 6px;
                                                    }
                                                }
                                            }
                                        }

                                    }

                                }
                            }
                        }
                    }
                    &::after {
                        content: '';
                        display: inline-block;
                        background: $primary_color;
                        width: 100%;
                        height: 100%;
                        right: -779px;
                        position: absolute;
                        top: 0;
                    }
                }
                .search-part {
                    background: $primary_color;
                    .menu-search {
                        padding: 24px 31px;
                        text-align: right;
                        padding-right: 0px;
                        i {
                            color: #fff;
                            font-size: 18px;
                        }
                    }
                }
            }
            /* --------------------
            3.1.2 Section - Normal Menu
            ----------------------- */
            &.standard-menu {
                .sticky_navigation {
                    background: $primary_color;
                    .site-logo-part {
                        width: 35%;
                        background: $primary_color;
                        .logo-image {
                            a {
                                span {
                                    color: #fff;
                                }


                            }
                        }
                    }
                    .menu-part {
                        transform: none;
                        width: 55%;
                        .navbar-collapse {
                            .nav.navbar-nav {
                                transform: none;
                                li {
                                    a {
                                        padding: 25px 15px;
                                    }
                                }
                            }
                        }

                    }
                    .search-part {
                        width: 10%;
                        .menu-search {
                            text-align: left;
                            padding-left: 0px;
                        }
                    }
                }

            }
        }
    }
}
