/* -------------------------------------
6 Services Page 
---------------------------------------- */

/* --------------------
6.1 Section - Our Services 
----------------------- */

.sevices-page .our-services {
    padding: 104px 0px 50px;
    background: #fff;
}

/* --------------------
6.2 Section - Clients Logo
----------------------- */
.sevices-page .clients-logo {
    .clients-logo-carousel {
        .owl-nav {
            display: none;
        }
    }
}
