.home-v2 .home-page-banner {
    .image-caption {
        padding-top: 50px;
        h1 {
            font-size: 20px;
            line-height: 20px;
        }
        p {
            margin-bottom: 5px;
            font-size: 14px;
        }
        .appoinment-form {
            margin-top: 80px;
            margin-bottom: 60px;
            padding: 35px 40px;
            bottom: 0;
            .appoinment-form-fields {
                
                .no-l-padding {
                    padding-left: 15px;
                }
            }
            h2 {
                font-size: 22px;
            }
        }
    }
}

.home-v2 .parents-feedback {
    .layer {
        padding: 50px 0px 20px;
        .top-text {
            margin-bottom: 20px;

        }
        .normal-feedback {
            .item {
                margin-bottom: 70px;
                img {
                    left: 140px;
                }
            }
        }
    }
}

.home-v2 .our-department {
    .tab-content {
        .tab-image {
            overflow: hidden;
            img {
                margin-top: 40px;
            }
        }

    }
}

.home-v2 .our-services {
    padding: 50px 0px 30px;
}

.home-v2 .our-specialist {
    padding: 55px 0px;
}

.home-v2 .recent-post {
    padding-bottom: 50px;
}
