.parents-feedback {
    .layer {
        padding: 40px 0px 80px;
        .normal-feedback {
            .item {
                img {
                    left: 130px;
                }
            }
        }
    }
}

.home-v2 .home-page-banner {
    .image-caption {
        padding-top: 100px;
        padding-bottom: 0px;
    }
    .appoinment-form {
        bottom: -120px
    }
}



.home-v2 .our-specialist {
    padding-top: 100px;
}

.home-v2 .our-department {
    padding-top: 334px;
}
