/* -------------------------------------
5 Department Page 
---------------------------------------- */

/* --------------------
5.1 Section - Our Department 
----------------------- */
.department-page .our-department {
    padding-top: 100px;
    padding-bottom: 77px;
}
/* --------------------
5.2 Section - Department Accordian 
----------------------- */
.department-page .department-accordian{
        .appoinment-form{
            bottom: 0;
            margin-top:0px;
            .appoinment-form-fields{
                margin-top: 0px;
            }
        }
    }

